<% include ./partials/header %>
<div class="Desprenoiwall">
   </div>
<div class="container">
    <h1 id="despretitle" style="font-family: 'Pacifico', cursive;">Logo Paveje</h1>
    <h4 class="context">Este o societate infiintata in anul 2015, care are ca obiect principal de activitate montarea elementelor din beton: bordura si in special pavemente(pavaj) de diferite dimensiuni, grosimi si culori.</h4>
    <div>
        <h3 class="servicii"> Servicii oferite:</h3>
        <row class="col-md-4 col-sm-6 " > 
           <div>
                <h5 id="servicii" ><i class="fas fa-star"></i>    Masuratori si stabilirea necesarului de materiale;</h5>
           </div>
           <div>
                <h5 id="servicii"><i class="fas fa-star"></i>   Lucrari de pregatire a suprafetelor ce urmeaza a fi pavate;</h5>
           </div>
           <div>
                <h5 id="servicii"><i class="fas fa-star"></i>    Montaj pavele si borduri;</h5>
           </div>
           <div>
                <h5 id="servicii"><i class="fas fa-star"></i>    Finisarea rosturilor;</h5>
           </div>
        </row>
    </div>
    <div>
        <h3 class="servicii">Experienta noastra:</h3>
        <h5 id="spatiup"> Compania Logo Pavaje ofera clientilor o echipa cu peste 9 ani de experienta in Spania, toate serviciile bazandu-se pe cele mai inalte standarde de calitate. Cu timpul formele si modelele de pavaje s-au diversificat, dar echipa noastra s-a dezvoltat si ea in acelasi timp pentru a oferi clientilor servicii de calitate si la nivelul asteptarilor. </h5>
        <h5 id="spatiup"> Lucram eficient, rapid si perfect, iar viziunea noastra este concentrata exclusiv satisfactiei absolute a clientului.</h5>
    </div>
    <h2 class="servicii"> Va multumim ca v-ati indreptat atentia catre firma noastra.</h2>
</div>

<footer id="footer">
        <p class="copyrighttext">&copy Copyright 2018 Logo Paveje. Toate drepturile sunt rezervate.<br>
        Made by Logofatu Ionut.</p>
</footer>
<% include ./partials/bottom %>