
<% include ./partials/indexHeader %>
<style>
    /* hide scrol bar */
    html{
        overflow-x: hidden;
    }
</style>

<div class="row">
    <!-- responsive dividing page -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 square first" >
        a
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 square second" >
        a
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 square third" >
        a
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 square fourth" >
        a
    </div>
</div>

<% include ./partials/bottom %>
