
<% include ./partials/header %>
<style>
    /* hide scrol bar */
    html{
        overflow-x: hidden;
    }
</style>

<div class=" wall">
</div>
<div class="container">
    <div class="row" style="display:flex; flex-wrap: wrap;">
        <div class="col-md-3 col-sm-6 info">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp5qynvb9355QfaSJRsPX0YZkwXDFem91Ap_5-SZYqzfb1sUZd">
                <div class="info">
                    Nu Ezitati sa ne contactati!
                </div>
                <div class=" buton">
                    <a href="/contact" class="btn btn-dark">Contact</a>
                </div>
        </div>
        <div class="col-md-3 col-sm-6 info">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp5qynvb9355QfaSJRsPX0YZkwXDFem91Ap_5-SZYqzfb1sUZd">
                <div class=" info">
                    Lista cu preturi pentru diferite modele.
                </div>
                <div class=" buton">
                    <a href="/preturi" class="btn btn-dark">Preturi</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 info">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp5qynvb9355QfaSJRsPX0YZkwXDFem91Ap_5-SZYqzfb1sUZd" class="photo">
                    <div class=" info">
                        Lucrarile cu care ne mandrim.
                    </div>
                    <div class=" buton">
                        <a href="/modele" class="btn btn-dark">Modele</a>
                    </div>
            </div>
            <div class="col-md-3 col-sm-6 info">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp5qynvb9355QfaSJRsPX0YZkwXDFem91Ap_5-SZYqzfb1sUZd">
                    <div class=" info">
                        Cateva informatii despre noi.
                    </div>
                    <div class="buton">
                        <a href="/desprenoi" class="btn btn-dark">Despre noi</a>
                    </div>
            </div>
    </div>
</div>

<% include ./partials/bottom %>
