
<% include ./partials/header %>
<style>
    /* hide scrol bar */
    html{
        overflow-x: hidden;
    }
</style>

<div class="wall">
    <h1 class="title">Indeplinirea viziunii dumneavoastra pentru spatiile exterioare</h1>
    <hr class="line">
    <h1 class="secondtitle" style="font-family: 'Pacifico', cursive;">Logo Pavaje</h1>
</div>

<div class="bar bigger">
    <div class="container">
     <div class="row ">
         <div class="col-md-4 col-sm-6 part">
                <p  class="text"><i class="fas fa-hammer"></i>  12 ani de experienta</p>
         </div>
            <div class="col-md-4 col-sm-6 part">
                   <p  class="text"><i class="fas fa-award"></i> peste 50 de modele</p>
            </div>
            <div class="col-md-4 col-sm-6 part">
                    <p  class="text"><i class="fas fa-check"></i> 100 clienti multumiti</p>
             </div>
        </div>
    </div>
</div>
<div class="container ">
      <h1 class="acasa">ACASA</h1>
      <hr class="line2">
</div>
<div class="container ">
    <h2 class="viziunea">Imbunatatiti aspectul curtii dumneavoastra de acasa cu <br> Logo Pavaje.</h2>
</div>
<hr class="line2">

<div class="container">
    <h4 class="context"> Chiar daca nu stiti ce model vi s-ar potrivi curtii dumneavoastra, va putem ajuta sa creati un design personalizat. Oricare ar fi vi viziunea pe care o aveti pentru spatiile exterioare, suntem aici pentru a va ajuta sa o materializati.</h4>
</div>
<div class="container">
    <div class="row " style="display:flex; flex-wrap: wrap;">
        <div class="col-lg-3 scol-md-6 col-sm-6 info ">
                <img src="https://lh3.googleusercontent.com/7s8OKqxzBvGCV7rzWhWzMrAfJgrAq4CucgHJfAiPEf63lsxTsoAAoCYFgfdcvaQMkxFLPtXPfw3lMmt0YadDjDWLD8YbHFCPBInL7F20RXlJVixohpHU-s96DwLbrLkphEbMgB3vRg=w2400" class="photo">
                <div class="info">
                    Nu Ezitati sa ne contactati!
                </div>
                <div class=" buton">
                    <a href="/contact" class="btn btn-dark">Contact</a>
                </div>
        </div>
        <div class=" col-lg-3  col-md-6 col-sm-6 info ">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRY5UzP3co2whVIRVBhB_4xlJM8m02QXSscqdRGW3pX3LwrPw-7" class="photo">
                <div class=" info">
                    Lista cu preturi pentru diferite modele.
                </div>
                <div class=" buton">
                    <a href="/montaj" class="btn btn-dark">Montaj</a>
                </div>
            </div>
            <div class=" col-lg-3 col-md-6 col-sm-6 info">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5Ee4CunZ0RBaRYYHINdbX8HRaq3cWplXVhrW7fdK08VyHxet6JA" class="photo">
                    <div class=" info">
                        Lucrarile cu care ne mandrim.
                    </div>
                    <div class="buton">
                        <a href="/modele" class="btn btn-dark">Modele</a>
                    </div>
            </div>
            <div class=" col-lg-3 col-md-6 col-sm-6 info">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5llyGfrrlUKFPpF6vmHIT2N_XSQ-8YDjI3Jp9G3s6F3HrJ5lyRg" class="photo">
                    <div class="info">
                        Cateva informatii despre noi.
                    </div>
                    <div class="buton">
                        <a href="/desprenoi" class="btn btn-dark">Despre noi</a>
                    </div>
            </div>
    </div>
</div>

<footer id="footer">
        <p class="copyrighttext">&copy Copyright 2018 Logo Paveje. Toate drepturile sunt rezervate.<br>
        Made by Logofatu Ionut and Vasilache Andrei.</p>
</footer>
<% include ./partials/bottom %>
