
<% include ./partials/header %>
<style>
    /* hide scrol bar */
    html{
        overflow-x: hidden;
    }
</style>

<div class=" wall">
</div>
<div class="container">
    <div class="row" style="display:flex; flex-wrap: wrap;">
        <div class="col-md-3 col-sm-6">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp5qynvb9355QfaSJRsPX0YZkwXDFem91Ap_5-SZYqzfb1sUZd">
        </div>
        <div class="col-md-3 col-sm-6">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp5qynvb9355QfaSJRsPX0YZkwXDFem91Ap_5-SZYqzfb1sUZd">
            </div>
            <div class="col-md-3 col-sm-6">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp5qynvb9355QfaSJRsPX0YZkwXDFem91Ap_5-SZYqzfb1sUZd">
            </div>
            <div class="col-md-3 col-sm-6">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp5qynvb9355QfaSJRsPX0YZkwXDFem91Ap_5-SZYqzfb1sUZd">

            </div>
    </div>
    <div class="row " style="display:flex; flex-wrap: wrap;">
            <div class="col-md-3 col-sm-6 info">
                Nu Ezitati sa ne contactati!
            </div>
            <div class="col-md-3 col-sm-6 info">
                Lista cu preturi pentru diferite modele.
            </div>
            <div class="col-md-3 col-sm-6 info">
                Lucrarile cu care ne mandrim.
            </div>
            <div class="col-md-3 col-sm-6 info">
                Cateva informatii despre noi.
            </div>
    </div>
    <div class="row" style="display:flex; flex-wrap: wrap;">
            <div class="col-md-3 col-sm-6 buton">
                <a href="/contact" class="btn btn-dark">Contact</a>
            </div>
            <div class="col-md-3 col-sm-6 buton">
                    <a href="/preturi" class="btn btn-dark">Preturi</a>
            </div>
            <div class="col-md-3 col-sm-6 buton">
                    <a href="/modele" class="btn btn-dark">Modele</a>
            </div>
            <div class="col-md-3 col-sm-6 buton">
                    <a href="/desprenoi" class="btn btn-dark">Despre noi</a>
            </div>
    </div>
</div>

<% include ./partials/bottom %>
