<% include ./partials/header %>

<div style="padding: 50px 5% 0px 5%">
    <!-- video  -->
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=WTQJp9wllow" allowfullscreen></iframe>
    </div>
</div>


<% include ./partials/bottom %>

