<% include ./partials/header %>

<div class="montajwall">
     <h1 class="title">Etape de montaj</h1>
</div>
<div class="container">
    <row class="col-md-4 col-sm-6 ">
        <div>
            <p id="enumerare"><i class="fas fa-cogs"></i>    1. Pregatirea terenului:</p>
            <div class="Paragraf">
                <p id="spatiu"> Dupa realizarea masuratorilor, se face delimitarea zonei cu tarusi si sfoara. Se continua cu decopertarea zonei, prin indepartarea stratului de pamant pe o grosime de cca. 10-35 cm. Se urmareste obtinerea unei pante usoare, cu suprafata plana. Realizarea infrastructurii se realizeaza prin compactarea unui strat de balast sau piatra concasata (min. 20 cm). Compactarea se face in straturi successive, prin folosirea placii vibrante. </p>
            </div>
        </div>
    </row>
    <row class="col-md-4 col-sm-6" >
        <div  class="dreapta">
            <p id="enumerare"><i class="fas fa-cogs"></i>    2.  Montarea bordurilor:</p>
            <div class="ParagrafDreapta">
                <p id="spatiu">Bordurile se monteaza inainte de introducerea ultimului strat de concasat, dupa ce in prealabil a avut loc compactarea infrastructurii. Bordurile se monteaza pe o fundatie de beton de aproximativ 10x15 cm pentru borduri mici si 10x20 cm pentru borduri carosabile. Ulterior se impaneaza pe lateral pentru a prelua eforturile transmise de platforma. </p>
            </div>
        </div>
    </row>
    <row class="col-md-4 col-sm-6 ">
        <p id="enumerare"><i class="fas fa-cogs"></i>    3. Nivelarea sortului:</p>
        <div class="Paragraf">
            <p id="spatiu"> Dupa montarea corecta a bordurilor, se asterne stratul de concasat. Pentru nivelarea concasatului se folosesc tevi, preferabil cu diametru de 3-6 mm. Tevile se aseaza in paralel si la cota dorita; cu ajutorului unui dreptar se niveleaza concasatul intre ele. Nu se va calca pe suprafata de concasat finala! </p>
        </div>
    </row>
    <row class="col-md-4 col-sm-6">
            <div  class="dreapta">
                <p id="enumerare"><i class="fas fa-cogs"></i>4.    Montarea pavelelor:</p>
                <div class="ParagrafDreapta">
                    <p id="spatiu">Asezarea pavelelor se face incepand dintr-un colt de 90 de grade sau de la o linie dreapta, pentru a evita pe cat posibil taierea acestora. Pavelele se aseaza una langa alta pe stratul de nisip, urmarindu-se alinierea, si se bat usor cu ciocanul de cauciuc. Taierea pavelelor la margini se face cu ghilotina sau flexul de disc diamantat. </p>
                </div>
            </div>
    </row>
    <row class="col-md-4 col-sm-6 " >
            <p id="enumerare"><i class="fas fa-cogs"></i>    5. Nivelarea sortului:</p>
            <div class="Paragraf">
                <p id="spatiu"> Dupa fixarea pavelelor pe suprafata aleasa, se va presara un strat de nisip fin si uscat, care se imprastie apoi cu matura intre rosturi. Nisipul se asterne pe intreaga suprafata si se lasa sa se usuce, daca e cazul, inainte de maturare. Se matura nisipul ramas pe pavele si apoi se taseaza pavajul cu placa vibranta. Se presara din nou nisip fin pentru umplerea rosturilor, astfel asigurandu-se o rezistenta mai mare la presiunea exercitata asupra lor, in conditii de trafic. In final, se matura inca o data suprafata pavata. Fixarea si vibrarea pavajului se fac doar pe timp uscat. Rosturile trebuie reumplute periodic! </p>
            </div>
    </row>
</div>


<footer id="footer">
        <p class="copyrighttext">&copy Copyright 2018 Logo Paveje. Toate drepturile sunt rezervate.<br>
        Made by Logofatu Ionut and Vasilache Andrei.</p>
    </footer>
<% include ./partials/bottom %>