
/* index file  */
.square{
    border: 1px solid white;
    height: 50vh;
    width: 50vw;
    text-align: center;
    padding-top: 20vh;
}

.first{
 background: red;
}

.second{
 background: gray
}

.third{
 background: black
}

.fourth{
 background: blue
}

a{
    color: white;
}

a:hover{
    color: transparent;
    width: 250px;
    height: 100px;
    text-align: center;
    padding-top: 5vh;
}