body{
    background: #f9f9f9;
}


/* put same background color for all squares */
.first , .second, .third, .fourth{
    background-image: url("https://images.unsplash.com/photo-1512921709377-a2822d4e27c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80")
}

/* index file  */
.square{
    border: 1px solid #B0B9C2;
    height: 50vh;
    width: 50vw;
    text-align: center;
    padding-top: 20vh;
}

.first{
 /* background: #936A9E; */
}

.second{
 /* background: #429485 */
}

.third{
 /* background: #797AFF */
}

.fourth{
 /* background: #767C82 */
}

.indexBtn{
    color: black;
}

.indexBtn:hover{
    padding: 30px;
    margin-top:-30px;
    color:white;
    text-align: center;

}

.pageFont{
    font-family: 'Roboto Condensed', sans-serif;
}