/* put the background image */
.wall{
    background-image: url("https://cdn.hipwallpaper.com/i/17/28/wu8E5H.jpg");
    background-position: 100% 0;
    background-size: 100%;
    height: 300px;
}

.row{
    padding-top: 5vh;

}

.row{
    padding-top: 5vh;

}

/* put the button on the middle */

/* put the button on the middle */
.buton{
    text-align: center;
    color: white;
}

/* put the information on the middle */
.info{
    text-align: center;
}

.pageFont{
    font-family: 'Roboto Condensed', sans-serif;
}